:root{
  --color1: #c3c1c1;
  --lg1: #070707;
}
.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    color: var(--color1);
    margin-bottom: 20px;
}
.title p{
    margin-top: 15px;
}
input{
    cursor: pointer;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
}
input, select, label{
  
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#imageURL,#imageURL2{
  position: relative;
  border-radius:5px;
  cursor:auto;
  box-shadow:  9px 9px 18px rgba(238, 239, 237, 0.5),-9px -9px 18px #505562;
}
.album{
  width: 30px;
  height: 20px;
  border-radius:5px;
  background: var(--color1);
  margin-right: 10px;
}
.book{
  width: 20px;
  height: 30px;
  border-radius:5px;
  background: var(--color1);
  margin-right: 30px;
}
input#finput, input#finput2{
    display: none;
}
.wrapAddImage{
  display: flex;
  transition: 0.5s;
}
.filter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center
}

.filter input label{
    cursor: pointer;
    display: flex;
}

.addImg{
  cursor: pointer;
  border-radius: 5px;
  width: 150px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-right: 20px;
  background-color: #505562;
  cursor:pointer;
  box-shadow:  9px 9px 18px rgba(147, 209, 117, 0.50),-9px -9px 18px #505562;
  color: #0ad406;
 
}
.addImg:hover{
  background-color: rgba(147, 209, 117, 0.50);
  transition:0.5s;
}

#rainbow{
    border-radius: 5px;
    width: 150px;
    text-align: left;
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: #505562;
    cursor:pointer;
    box-shadow:  9px 9px 18px #5773c7,-9px -9px 18px #6b707b;
    color: rgb(82, 125, 243);
}
#rainbow:focus, .filter select:focus{
  outline:transparent;   
}
 
#rainbow:hover{
  background-color: rgba(82, 125, 243, 0.50);
  transition:0.5s;
}

#clear,#clear2{
  border-radius: 5px;
  width: 150px;
  text-align: left;
  display: flex;
  justify-content:center;
  align-items: center;
  padding: 10px;
  background-color: #505562;
  cursor:pointer;
  box-shadow:  9px 9px 18px rgb(221, 108, 104), -9px -9px 18px #505562;
  color: rgb(255, 10, 1);
}

#clear:hover,
#clear2:hover
{
  background-color: rgba(255, 10, 1, 0.33);
  transition:0.5s;
}

.filter label select{
    cursor: pointer !important;
    padding: 10px;
    margin-left: 10px;
    margin-left: 10px;
}
.filter select{
  border-radius: 5px;
  width: 150px;
  text-align: left;
  display: flex;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px;
  background-color: #505562;
  cursor:pointer;
  box-shadow:  9px 9px 18px rgb(247, 149, 72), -9px -9px 18px #505562;
  color: rgb(247, 149, 72);
}
.filter select option{
    background:#fff;
}

.filter select:hover{
  background-color: rgba(247, 149, 73, 0.50);
  transition:0.5s;
}

  
.canvas_content{
    display: flex;
    align-items:center;
    justify-content: center;
}
.canvas_width{
  position: relative;
}
  canvas{
    margin: 20px 20px;
    border-radius:5px;
    background: var(--color1);
    box-shadow: 9px 9px 10px #505562;
  }
  #getCanvas{
    cursor: url("../image/free_icon_pencil_4277132.png"), pointer;
    border: 2px solid #ffffff;
  }
  .icon_getCanvas{
    position: absolute;
    top:40%;
    right: 50%;
    width: 40px;
    height: 50px;
    filter: opacity(0.5) drop-shadow(0 0 0 rgb(245, 245, 246));
    z-index: 2000;
    cursor: pointer;
 }


 .canvas_content .arrow{
  display: flex;
  cursor: pointer;
  color: var(--color1);
  align-items:center;
  justify-content:center;
    width: 40px;
    height: 40px;
    border-radius:50%;
    border: 1px solid #ffffff;
    transition: all 0.5s ease-in-out;
  }
  .canvas_content .arrow:hover{
    border: 3px solid var(--color1);
    box-shadow:0 0 5px var(--color1);
  }

  .photoStock{
    text-decoration:none;
    cursor: pointer;
    text-decoration: underline;
    color: var(--color1);
    transition: all .3s ease-in-out;
    padding-left:2em;

  }
  .photoStock:hover{
    color:#f0f6bd;
    text-shadow:0 0 5px #f0f6bd;
  }
  .color_wrap{
    position: relative;
    display: flex;
    justify-content: center;
    align-items:center;
    width: auto;
    height: 50px;
    margin-right: 20px;
  }
  .color_wrap label{
    margin-right: 10px;
  }
 .color{
  padding: 0;
  width: 50px;
  height: 50px;
  margin: 0;
  margin-right: 5px;
  z-index: 1000;
 }

input[type="range"]{
  padding: 0;
  margin: 0;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
}


.color__preview{
  background:none;
  background-color: var(--lg1);
}

.opacity_wrap{
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.line option{
  display: flex;
  justify-content: center;
  align-items:center;
 width: 50px;
 font-size: 50px;
 font-weight: 600;

}


