:root{
  --clr: #2B3246;
  --color1: #c3c1c1;
  --black: #2e2c2c;
  --orange:#F57A28;
  --background:#F0F2F8;
}
.info_content__weather,
.info_content__exchange,
.info_content__time{
 position: absolute;
 padding:1em;
 right: 10%;
 width: 18%;
 height: auto;
 color:#000;
 background: #fff;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 border-radius: 5px;
 }
.info_content__exchange{
   top:250px;
}
.info_content__weather{
 top:100px;
}
.weather{
    width: 100%;
    height: 50%;
    margin-bottom: 15px;
    display: flex;
   justify-content: center;
   align-items: center;
 }
 .exchange{
   width: 100%;
   height: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
 }
 .table_title{
   font-weight: 600;
   font-style: italic; 
   font-family: Arial, Helvetica, sans-serif;
 }
 table{
   border-spacing:0px;
 }

 table td{
  width: 100px;
  border-width:0px;
  padding-top: 5px;
  font-weight: 400;
  font-style: normal;
}

table th{
   border-bottom: 2px solid rgb(153, 146, 146);
}

td{
   text-align:center;
   white-space: nowrap;
   font-size: 12px;
}
th{
   background: #dedddd;
   font-weight: 800;
   font-size: 12px;
   padding-top: 5px;
   font-style: normal;
 }
 tr:nth-child(even){
   background: #dedddd;
 }
 .head_title{
  display: block;
  color:var(--color1) ;
 }
 .phone{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content:space-between;
  max-width: 428px;
  height: auto;
  overflow: auto;
  border-radius:30px;
  margin-top: 30px;
  background: var(--background)             
 }

 .phone .phone_content {
  display: flex;
  flex-direction: column;
  align-items:center;
 }

 .phone_content .title p{
    color: var(--black);
    font-family: montserrat;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
  }
.image_goroscope{
    cursor: pointer;
  }

  .content_signs{
    width: 428px;
    height: auto;
    display: flex;
    flex-direction:column;
    padding: 24px 24px 24px 24px;
    padding-top: 0px;
    justify-content:flex-start;
    align-items: stretch;

  }
  .content_signs .title p{
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: var(--black);
    font-family: montserrat;
    font-size: 20px;
    font-weight: 600;
  }
  .signs{
    display: flex;
    flex-direction: column;
    align-items:stretch;
    justify-content:space-between;
    margin-top: 19px;
  }
  .signs .group{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content:space-between;
  }
  .sign{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
  }
 .sign img{
  width: 112px;
  height: 112px;
  margin-bottom: 8px;
  cursor: pointer;

    
 }
 .sign p{
  color: var(--black);
  cursor: pointer;
  font-family: montserrat;
  font-size: 16px;
 }

 .imageActive img{
   border: 2px solid var(--orange);
   border-radius: 32px;
 }

 .change{
  width: 380px;
  height: 40px;
  background-color: var(--orange);
  color:var(--background);
  border-radius: 32px;
  margin-bottom: 31px;
  margin-top: 31px;
  border:none;
  opacity: 0;
  transition: all .3s ease-in-out ;

 }
 .change.active{
  cursor: pointer;
  opacity: 1;
 }
 .imageActive{
  display: flex;
  align-items: center;
 }
 .labelSign{
  margin-left:16px;
 }
 .labelSign .label{
  display: block;
  margin-bottom: 8px;
 }
 .goBack{
  cursor: pointer;
  height: 50px;
 }
p {
  color: var(--black);
  font-family: montserrat;
  font-size: 16px;
  margin: 0;
  line-height: 20px;
}

.aroundText{
  margin-top: 32px;
}

.discription .text{
  margin-bottom: 15px;
}
.result{
  display: flex;
  align-items:center;
}
.result.gun{
  margin-top: 10px;
}
.gunText.pilcrow{
  display: flex;
  align-items:center;
  margin-left: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
 }
 .resultFooter{
  display: flex;
  align-items:center;
  justify-content: space-around;
 }
 .footer{
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  cursor: pointer;
 }
 .footerText{
  margin-top: 4px;
 }
 .footerText.active{
  color:var(--orange);
 }
 .empti{
width: 100%;
height: 1px;
margin-bottom: 10px;
background: #cfcece;
 }
 .discription{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;

 }
 .discription.text{
  margin: 15px 20px;
 }
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 

 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 